{%extends 'base.html' %}

{%block title%}About GeekGuru{%endblock%}
{%block content%}
<html>
<head>
<style>
    p.ex1 {
  padding-left: 50px;
}
h2 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>
</head>
<body>

<h2>Welcome to GeekGuru - Unleashing the Geek Within!</h2>

<!-- <p style="padding: 25px  100px;", >Welcome to GeekGuru, your ultimate destination for all things tech! We are a passionate team of geeks who are dedicated to exploring and sharing the fascinating world of technology. Whether you're a tech enthusiast, a budding programmer, or simply someone intrigued by the latest gadgets and innovations, GeekGuru is here to satisfy your curiosity and expand your knowledge.
At GeekGuru, we strive to provide engaging and informative content that covers a wide range of tech-related topics. From in-depth product reviews and comparisons to practical tutorials and insightful articles on emerging technologies, our aim is to equip you with the knowledge and insights you need to navigate the ever-evolving tech landscape.
But GeekGuru is more than just a tech blog; </p>

<p style="padding: 25px  100px;">it's a community of like-minded individuals who share a love for all things geeky. We encourage you to join our community, participate in discussions, and connect with fellow geeks who share your passion.
Our team of tech-savvy writers and experts is committed to delivering high-quality content that is both informative and enjoyable to read. We understand that technology can sometimes be overwhelming, so we strive to make complex concepts accessible to everyone, regardless of their technical background.
Whether you're looking for the latest smartphone reviews, coding tutorials, cybersecurity tips, or industry insights, GeekGuru has got you covered. We're here to guide you on your tech journey and help you unleash your inner geek!</p>

<p style="padding: 25px  100px;">Thank you for visiting GeekGuru. We invite you to explore our blog, engage with our content, and become a part of our vibrant geek community. Together, let's dive into the exciting world of technology and embrace our inner geeks!</p>
<p>
Stay geeky,
The GeekGuru Team</p> -->
<p style="padding: 75px 50px 75px 10px;"> 
Welcome to GeekGuru, your ultimate destination for all things tech!<br> We are a passionate team of geeks who are dedicated to exploring and sharing the fascinating world of technology. Whether you're a tech enthusiast, a budding programmer, or simply someone intrigued by the latest gadgets and innovations, GeekGuru is here to satisfy your curiosity and expand your knowledge.<br>

At GeekGuru, we strive to provide engaging and informative content that covers a wide range of tech-related topics. From in-depth product reviews and comparisons to practical tutorials and insightful articles on emerging technologies, our aim is to equip you with the knowledge and insights you need to navigate the ever-evolving tech landscape.

But GeekGuru is more than just a tech blog; it's a community of like-minded individuals who share a love for all things geeky. We encourage you to join our community, participate in discussions, and connect with fellow geeks who share your passion.

Our team of tech-savvy writers and experts is committed to delivering high-quality content that is both informative and enjoyable to read. We understand that technology can sometimes be overwhelming, so we strive to make complex concepts accessible to everyone, regardless of their technical background.

Whether you're looking for the latest smartphone reviews, coding tutorials, cybersecurity tips, or industry insights, GeekGuru has got you covered. We're here to guide you on your tech journey and help you unleash your inner geek!

Thank you for visiting GeekGuru. We invite you to explore our blog, engage with our content, and become a part of our vibrant geek community. Together, let's dive into the exciting world of technology and embrace our inner geeks!

Stay geeky,
The GeekGuru Team</p>

</body>
</html>
{% endblock content %}